.close_left{
    width: 0;

}
.open_left{
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #303030;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
   
}