.icon-bar{
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background:transparent;
}
/* 
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    background-color: rgba(0,0,0,0.45);
    margin-top: 5px;
    
  } */
  
  .icon-bar div:hover {
    background-color: #000;
  }

  .tooltip {
    position: relative;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    background-color: rgba(0,0,0,0.45);
    margin-top: 5px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.45);
    color: #fff;
    text-align: center;
    /* border-radius: 6px; */
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20%;
    right: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.45);;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }